@charset "utf-8";

body{
    margin: 0;
}

body .sitename{
    font-size: 30px;
}

form ul li{
    list-style: none;
}

.input{
    text-align: center;
}

.generateBtn{
    background-color: bisque;
    padding: 10px 5px;
    text-align: center;
    width: 10%;
    margin: auto;
    border: 1px solid #000;
}

form li{
    margin: 10px;
    width: auto;
    text-align: center;
}

li{
    border: 1px dotted #2833bc;
}

.red{
    color: brown;
}

/*headermainfooterの背景色*/

.hmf-bc-r{
    background-color: #ac4926;
}

.hmf-bc-g{
    background-color: #26cc41;
}

.hmf-bc-b{
    background-color: #2833bc;
}

/*headermainfooterのパディング*/
.hmf-pa-s{
    padding: 10px 30px;
}

/* p .hmf-pa-s{
    padding: 5px 20px;
} */

.hmf-pa-m{
    padding: 25px 40px;
}

.hmf-pa-b{
    padding: 40px 60px;
}

/*materialのマージン*/
.margin-m-s{
    margin: 14px;
}

.margin-m-m{
    margin: 30px;
}

.margin-m-b{
    margin: 40px;
}

/*表示・非表示*/
/*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box > label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

#hidden label{
    padding: 0;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box > input {
    display: none;
}

#checkSide > input{
    display: block;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
/* 生成header */
.h-flex{
    display: flex;
}