@charset "utf-8";

body{
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body .sitename{
    font-size: 30px;
}

.generate {
    display: none;
}

.pagetop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

#ramdomJ {
    float: left;
    position: -webkit-sticky;
    position: fixed;
    bottom: 10px;
    left: 8px;
    z-index: 10;
}

#header {
    height: 240px;
}

#main {
    min-height: 600px;
    display: flex;
}

.form {
    display: none;
}

.form2 {
    display: none;
}

#form {
    text-align: center;
}

form ul li{
    list-style: none;
    min-height: 100px;
}

.input{
    text-align: center;
}

::placeholder {
    color: #9c9c9c;
    background-color: #f3f3f3;
}

a{
    text-decoration: none;
}

.generateBtn{
    background-color: bisque;
    padding: 10px 5px;
    text-align: center;
    width: 10%;
    margin: auto;
    border: 1px solid #000;
}

form li{
    margin: 10px;
    width: auto;
    text-align: center;
}

li{
    border: 1px dotted #2833bc;
    padding: 10px;
}
/*赤系*/
.red1{
    color: #e2041b;
}
.red2{
    color: #e60033;
}
.red3{
    color: #d7003a;
}
.red4{
    color: #d3381c;
}
.red5{
    color: #c53d43;
}
.red6{
    color: #ce5242;
}
.red7{
    color: #b94047;
}
.red8{
    color: #b7282e;
}
.red9{
    color: #a22041;
}
.red10{
    color: #a73836;
}
.redBg1{
    background-color: #e2041b;
}
.redBg2{
    background-color: #e60033;
}
.redBg3{
    background-color: #d7003a;
}
.redBg4{
    background-color: #d3381c;
}
.redBg5{
    background-color: #c53d43;
}
.redBg6{
    background-color: #ce5242;
}
.redBg7{
    background-color: #b94047;
}
.redBg8{
    background-color: #b7282e;
}
.redBg9{
    background-color: #a22041;
}
.redBg10{
    background-color: #a73836;
}
/*緑系*/
.green1{
    color: #009b9f;
}
.green2{
    color: #417038;
}
.green3{
    color: #387d39;
}
.green4{
    color: #006a6c;
}
.green5{
    color: #009944;
}
.green6{
    color: #00885a;
}
.green7{
    color: #00533f;
}
.green8{
    color: #54917f;
}
.green9{
    color: #a5c9c1;
}
.green10{
    color: #79c06e;
}
.greenBg1{
    background-color: #009b9f;
}
.greenBg2{
    background-color: #417038;
}
.greenBg3{
    background-color: #387d39;
}
.greenBg4{
    background-color: #006a6c;
}
.greenBg5{
    background-color: #009944;
}
.greenBg6{
    background-color: #00885a;
}
.greenBg7{
    background-color: #00533f;
}
.greenBg8{
    background-color: #54917f;
}
.greenBg9{
    background-color: #a5c9c1;
}
.greenBg10{
    background-color: #79c06e;
}
/*青系*/
.blue1{
    color: #4169e1;
}
.blue2{
    color: #191970;
}
.blue3{
    color: #0000cd;
}
.blue4{
    color: #0000ff;
}
.blue5{
    color: #00ffff;
}
.blue6{
    color:  #00ced1;
}
.blue7{
    color: #1e90ff;
}
.blue8{
    color: #00bfff;
}
.blue9{
    color: #4682b4;
}
.blue10{
    color: #6495ed;
}
.blueBg1{
    background-color: #4169e1;
}
.blueBg2{
    background-color: #191970;
}
.blueBg3{
    background-color: #0000cd;
}
.blueBg4{
    background-color: #0000ff;
}
.blueBg5{
    background-color: #00ffff;
}
.blueBg6{
    background-color: #00ced1;
}
.blueBg7{
    background-color: #1e90ff;
}
.blueBg8{
    background-color: #00bfff;
}
.blueBg9{
    background-color: #4682b4;
}
.blueBg10{
    background-color: #6495ed;
}
/* button{
    background-color: mediumaquamarine;
} これいる？*/
/*headermainfooterの背景色*/

.hmf-bc-r{
    background-color: #f6bfbc;
}

.hmf-bc-g{
    background-color: #d6e9ca;
}

.hmf-bc-b{
    background-color: #c1e4e9;
}

/*headermainfooterのパディング*/
.hmf-pa-s{
    padding: 10px 30px;
}

/* p .hmf-pa-s{
    padding: 5px 20px;
} */

.hmf-pa-m{
    padding: 25px 40px;
}

.hmf-pa-b{
    padding: 40px 60px;
}

/*materialのマージン*/
.margin-m-s{
    margin: 14px;
}

.margin-m-m{
    margin: 20px;
}

.margin-m-b{
    margin: 25px;
}

/* 生成header */
.h-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-img-r {
    background-image: url(https://picsum.photos/200/300?image=25);
    background-repeat: repeat;
    background-size: cover;
    background-position: 50%;
}

.h-img-g {
    background-image: url(https://picsum.photos/200/300?image=28);
    background-repeat: repeat;
    background-size: cover;
    background-position: 50%;
}

.h-img-b {
    background-image: url(https://picsum.photos/200/300?image=16);
    background-repeat: repeat;
    background-size: cover;
    background-position: 50%;
}

#siteNameG{
    text-shadow: 1px 2px 3px #808080;
}

.pE1{
    color: #363636;
    text-shadow: 1px 2px 3px #cacaca;
}
/* 生成main */
.sHover-a .sHover{
display: none;
}
.sHover-a:hover .normal{
display: none;
}
.sHover-a:hover .sHover{
display: inline;
}

#sboxG1{
    background-color: #c53d43;
}

.mainE1P{
    display: flex;
    flex-wrap: wrap;
}

.main-Under-B{
    border-bottom: 5px dotted #f3f3f3;
}

.mainE1{
    padding: 70px 40px;
    width: 40%;
    position: relative;
}

.heading-g{
    position: absolute;
    top: 5%;
    left: 5%;
}

.sidemenu-none{
    display: none;
}

.normal {
    display: flex;
}

.form-g {
    padding-right: 73px;
}

.bread-g {
    padding-right: 20.5px;
    display: inline;
}

.heading-deco {
    font-size: 22px;
    display: inline;
    border-bottom: double 5px #000;
}

.m-text {
    display: inline;
    padding-right: 50px;
}

.sHover {
    background-color: #dfdfdf;
}

/*テキスト省略*/
.abridgement{
    white-space: nowrap;
}

/* 生成footer */